section {
    width: 270px;
    top: 78px;
    right: 0;
    position: absolute;
}

img {
    width: 100%;
}

.title {
    background-color: #7fcee1;
    color: #ffffff;
    padding: 5px 25px 3px 25px;
}

.description {
    background-color: #313541;
    color: #ffffff;
    padding: 5px 25px 3px 25px;
    font-size: 12px;
    height: 500px;
}

.icon-address {
    width: 10px;
    margin-right: 5px;
}

.icon-url {
    width: 15px;
    margin-right: 3px;
}